@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #fff;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @apply bg-gradient-to-b from-navyBlue/40 to-[#2c3e50] scrollbar-thin scrollbar-track-transparent scrollbar-thumb-navyBlue;
  }
}

@layer components {
  .bannerbutton {
    @apply flex items-center gap-3 px-6 py-2 rounded-md transition hover:opacity-90 font-semibold;
  }

  .paginateBtn {
    @apply bg-slate-100 text-navyBlue px-8 py-2 font-bold text-xl rounded-lg inline-block;
  }
}
